extends layout
block head
    title MonodroneBot - Unauthorized!

block content
    div(class="container")
        div(class="row")
            div(class="col-sm-8")
                div(class="jumbotron")
                    h1 403 - Unauthorized!
            