extends layout
block head
    title MonodroneBot - Home
block content
    div(class="container")
        .row.mt-3
            .col-sm-8
                div(class="jumbotron").
                    Hello! Please be patient with us as this webapp is still being built :P
                               
            .col-sm-4
                iframe(src="https://discordapp.com/widget?id=501083649056178226&theme=dark" width="100%" height="500" allowtransparency="true" frameborder="0")