
head
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" href=href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js")
    block head

body
    div(class="jumbotron text-center" style="margin-bottom:0")
        h1 MonodroneBot
        p For the Reading Westmarches
    nav(class="navbar navbar-expand-sm bg-dark navbar-dark")
        a(class="navbar-brand" href="/") Home
        div(class="collapse navbar-collapse")
            ul(class="navbar-nav")
                if(username)
                    li(class="nav-item")
                        a(class="nav-link" href="/")= username
                else
                    li(class="nav-item")
                        a(class="nav-link" href="/auth/discord")= "Login"
            

    block content