extends layout
block head
    title MonodroneBot - Login

block content
    div(class="container")
        div(class="row")
            div(class="col-sm-12" align="center")
                a(class="btn btn-primary" href="/auth/discord/") Login with Discord